<%- model_class = Project -%>
<div class="page-header">

    <ul class="breadcrumb">
      <li class="active">Estadisticas</li>
      <%= render 'projects/summary_total' %>
      <%= render 'tasks/summary_total' %>
      <%= render 'subtasks/summary_total' %>
      <%= render 'results/summary_total' %>
    </ul>
</div>